@tailwind base;
@tailwind components;
@tailwind utilities;

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*Tried Modifying overall bg color - no change*/
html {
  /* background-color: #F4F1ED; */
  background-color: #fbfbfb;
}

.group:hover .overlay-text {
  transform: translateY(0);
}

.catalogue-card {
  transition: transform 0.3s ease;
}

.catalogue-card:hover {
  transform: translateY(-5px);
}
